# Logs - File nhật ký lỗi, không cần thiết
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies - Thư viện tải về (Nặng nhất, tuyệt đối không commit)
node_modules
dist
dist-ssr
*.local

# Editor directories and files - Cấu hình riêng của máy cá nhân
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment variables - Biến môi trường (CHỨA MẬT KHẨU/KEY, TUYỆT ĐỐI KHÔNG COMMIT)
.env
.env.*

# Testing
coverage

# Vite build output
dist

# Bỏ qua thư mục upload
upload/

# Hoặc nếu nó nằm sâu hơn
backend/upload/
public/images/upload/